* {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 100%;
  vertical-align: baseline;
  line-height: 1; }

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 2em;
  background-color: white;
  background-size: 100%;
  background-repeat: initial; }

h1 {
  margin: auto;
  padding: 0.5em;
  font-family: "Arial", sans-serif;
  font-size: 3em;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  color: black; }

.members,
.messages {
  padding: 15px;
  margin-bottom: 15;
  border: 1px solid black;
  font-size: 1em;
  overflow: auto; }

.messages {
  clear: both;
  float: left;
  position: relative;
  border: 2px solid black;
  flex-shrink: 1;
  height: 60vh;
  overflow: auto; }

.currentMember {
  float: right !important; }

.message .member {
  display: inline-block; }

.message {
  display: block;
  float: left;
  clear: both;
  position: relative;
  padding: 5px 0;
  margin: 5px 5px 0 0;
  max-width: 55vw;
  font-size: 0.85em; }

.members {
  line-height: 1.3em;
  margin-bottom: 2px; }

.name,
span {
  text-transform: uppercase; }

.member {
  position: relative;
  text-transform: uppercase;
  font-size: 0.7em;
  padding-right: 2em; }

.messageForm {
  display: flex;
  word-wrap: break-word; }

.messageFormInput {
  flex-grow: 1;
  border: none;
  padding: 10px 15px;
  font-size: 1em;
  letter-spacing: 0.1em;
  color: black;
  border: 1px solid black; }

.messageFormInput:focus {
  border: 2px solid black; }

.messageText {
  margin-top: 10px;
  font-size: 1.8em;
  overflow-wrap: break-word;
  color: black; }

.messageFormButton {
  margin: auto;
  background-color: white;
  border: 1px solid black; }

.name {
  margin-top: 1.5em; }

#enterBtn {
  position: relative;
  width: 3em;
  margin: 0.5em 0.5em; }

/* -------------- modals ---------------- */
/* error modal */
/* character exceeded modal */
.modal-error {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.25s ease-out;
  pointer-events: none; }

.modal-error.open {
  opacity: 1;
  display: inline-block;
  margin: 0 auto;
  padding: 1.5em 1em;
  top: 20em;
  right: 4em;
  left: 4em;
  height: fit-content;
  width: 70%;
  background-color: #ff000023;
  color: #d2c9c9cc;
  border-radius: 5px;
  font-family: "Arial", sans-serif;
  font-size: 1.1em;
  font-weight: 90;
  line-height: 1.5em;
  text-align: center;
  text-transform: uppercase; }

/* -------------- responsove ---------------- */
@media screen and (min-width: 600px) and (max-width: 1023px) {
  body {
    padding: 20px; }

  .messages {
    height: 60vh; }

  h1 {
    font-size: 2em;
    margin: 0.5em 0 0.5em 0; }

  .message_text {
    font-size: 1.4em; }

  #brushstroke {
    width: 2.5em; } }
@media screen and (max-width: 599px) {
  body {
    padding: 5px; }

  .messages {
    height: 70vh; }

  h1 {
    font-size: 2em;
    margin: 0.5em 0 0.5em 0; }

  .message_text {
    font-size: 1.4em; }

  #brushstroke {
    width: 2.5em; } }

/*# sourceMappingURL=style.css.map */
